---
import Layout from "../layouts/Layout.astro"
const Tittle: string = "Hackaton Clerk"
---
<Layout tittle={Tittle}>
  <div class="absolute top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>
  <h1 class="text-white">Hola mundo asd</h1>
  <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus dolorem ducimus sed maiores vel fuga et unde recusandae dicta, hic ipsum vitae? Facilis unde veritatis obcaecati fugit sapiente dicta distinctio.</p>
  <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ad excepturi quam explicabo dolores nobis, nihil, atque sint iste ullam, quaerat similique fugiat provident deserunt quidem eius adipisci voluptatem culpa?</p>
  <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ad excepturi quam explicabo dolores nobis, nihil, atque sint iste ullam, quaerat similique fugiat provident deserunt quidem eius adipisci voluptatem culpa?</p>
  <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ad excepturi quam explicabo dolores nobis, nihil, atque sint iste ullam, quaerat similique fugiat provident deserunt quidem eius adipisci voluptatem culpa?</p>
  <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus dolorem ducimus sed maiores vel fuga et unde recusandae dicta, hic ipsum vitae? Facilis unde veritatis obcaecati fugit sapiente dicta distinctio.</p>
  <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ad excepturi quam explicabo dolores nobis, nihil, atque sint iste ullam, quaerat similique fugiat provident deserunt quidem eius adipisci voluptatem culpa?</p>
  <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ad excepturi quam explicabo dolores nobis, nihil, atque sint iste ullam, quaerat similique fugiat provident deserunt quidem eius adipisci voluptatem culpa?</p>
  <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ad excepturi quam explicabo dolores nobis, nihil, atque sint iste ullam, quaerat similique fugiat provident deserunt quidem eius adipisci voluptatem culpa?</p>
  <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus dolorem ducimus sed maiores vel fuga et unde recusandae dicta, hic ipsum vitae? Facilis unde veritatis obcaecati fugit sapiente dicta distinctio.</p>
  <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ad excepturi quam explicabo dolores nobis, nihil, atque sint iste ullam, quaerat similique fugiat provident deserunt quidem eius adipisci voluptatem culpa?</p>
  <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ad excepturi quam explicabo dolores nobis, nihil, atque sint iste ullam, quaerat similique fugiat provident deserunt quidem eius adipisci voluptatem culpa?</p>
  <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ad excepturi quam explicabo dolores nobis, nihil, atque sint iste ullam, quaerat similique fugiat provident deserunt quidem eius adipisci voluptatem culpa?</p>
  <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus dolorem ducimus sed maiores vel fuga et unde recusandae dicta, hic ipsum vitae? Facilis unde veritatis obcaecati fugit sapiente dicta distinctio.</p>
  <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ad excepturi quam explicabo dolores nobis, nihil, atque sint iste ullam, quaerat similique fugiat provident deserunt quidem eius adipisci voluptatem culpa?</p>
  <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ad excepturi quam explicabo dolores nobis, nihil, atque sint iste ullam, quaerat similique fugiat provident deserunt quidem eius adipisci voluptatem culpa?</p>
  <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ad excepturi quam explicabo dolores nobis, nihil, atque sint iste ullam, quaerat similique fugiat provident deserunt quidem eius adipisci voluptatem culpa?</p>
  <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus dolorem ducimus sed maiores vel fuga et unde recusandae dicta, hic ipsum vitae? Facilis unde veritatis obcaecati fugit sapiente dicta distinctio.</p>
  <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ad excepturi quam explicabo dolores nobis, nihil, atque sint iste ullam, quaerat similique fugiat provident deserunt quidem eius adipisci voluptatem culpa?</p>
  <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ad excepturi quam explicabo dolores nobis, nihil, atque sint iste ullam, quaerat similique fugiat provident deserunt quidem eius adipisci voluptatem culpa?</p>
  <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ad excepturi quam explicabo dolores nobis, nihil, atque sint iste ullam, quaerat similique fugiat provident deserunt quidem eius adipisci voluptatem culpa?</p>

</Layout>
