---
import { SignIn, SignedIn, SignedOut, UserButton, SignInButton } from "@clerk/astro/components";
---

<h1>hola</h1>

<!-- <SignIn/> -->

 <SignedOut >
  <SignInButton   mode="modal" />
</SignedOut>
<SignedIn >
  <UserButton />
</SignedIn>