---

---
<section  class="p-4 w-full border border-light-terciario dark:border-dark-terciario bg-light-primario dark:bg-dark-secundario rounded-lg">
  <form id="formPost" class="w-full mt-3">
    <fieldset class="border border-light-terciario dark:border-dark-terciario p-2 rounded-md">
      <legend class=" dark:text-sky-500">Nueva Publicacion</legend>
      <textarea
        id="mensaje"
        name="mensaje"
        maxlength="255"
        class="w-full  border border-transparent bg-transparent resize-none overflow-hidden  dark:text-white placeholder-neutral-500 focus:outline-none  "
        placeholder="¿Qué hay de nuevo?" 
      ></textarea>
      
      <!-- <input type="file" name="multimedia" id="multimedia" 
        class="w-full bg-transparent border border-light-terciario dark:border-dark-terciario border-dashed p-4 hover:border-green-600"
        accept="image/webp, image/jpeg" 
      > -->
      <div class="">
        <input type="file"name="multimedia"id="multimedia" class="filepond" multiple accept="image/webp, image/jpeg, image/png"/>
      </div>
      
    </fieldset>

    <div class="flex justify-between mt-3">
      <button
        class="bg-sky-500 hover:bg-sky-700 transition-colors px-4 py-2 rounded-lg cursor-pointer"
        >+ PAD</button
      >
      <button0
        class="bg-sky-500 hover:bg-sky-700 transition-colors px-4 py-2 rounded-lg cursor-pointer"
        >Publicar</button
      >
    </div>
  </form>
</section>

<style is:global>
  
/* Esto anula el fondo blanco */
  .filepond--drop-label {
    background-color: transparent !important;
  }

  .filepond--panel-root {
    background-color: transparent !important;
    border: 1px dashed rgba(128, 128, 128, 0.688);
  }

  /* Cambiar color del texto */
  .filepond--label-action {
    color: #38bdf8 !important; /* sky-400 */
  }
</style>

<script >
  document.getElementById("formPost")?.addEventListener("submit", function (e) {
    e.preventDefault();
    alert("hola");
  });
</script> 
<script>
  const textarea = document.getElementById("mensaje")!;

  textarea.addEventListener("input", () => {
    textarea.style.height = "auto";
    textarea.style.height = textarea.scrollHeight + "px";
  });

  // Ajuste inicial
  textarea.style.height = "auto";
  textarea.style.height = textarea.scrollHeight + "px";
</script>

<script type="module">
  // Registrar los plugins que necesitas
  FilePond.registerPlugin(
    FilePondPluginImagePreview,
    FilePondPluginFileValidateType
  );

  // Inicializar FilePond en el input con ID "multimedia"
  FilePond.create(document.getElementById('multimedia'), {
    acceptedFileTypes: ['image/webp', 'image/jpeg'],
    allowMultiple: true,
    labelFileTypeNotAllowed: 'Solo se permiten imágenes webp o jpeg',
    fileValidateTypeLabelExpectedTypes: 'Debe ser una imagen webp o jpeg',
    instantUpload: false // si quieres que espere al submit
  });
</script>