---
import InputFile from "./InputFile.astro";
const signos = "</>";
---
<fieldset   class="p-4 w-full border border-light-terciario dark:border-dark-terciario bg-light-primario dark:bg-dark-secundario rounded-lg">
  <legend class=" dark:text-sky-500">Nueva Publicacion</legend>
  <form id="formPost" action="/api/create-post" method="POST" enctype="multipart/form-data" class="w-full">
    
    <textarea
      required
      id="mensaje"
      name="mensaje"
      maxlength="260"
      class="w-full  text-xl border border-transparent bg-transparent resize-none overflow-hidden  dark:text-white placeholder-neutral-500 focus:outline-none"
      placeholder="¿En qué piensas hoy?" 
    ></textarea>

    <div class="flex flex-col md:flex-row items-center justify-start gap-8 mb-3">
      
      <select id="lenguajes" required disabled class="hidden bg-light-primario dark:bg-dark-secundario border border-light-terciario dark:border-dark-terciario rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full md:w-1/2 p-2">
        <option value="Javascript">Javascript</option>
        <option value="React">React</option>
        <option value="Express">Express</option>
        <option value="Python">Python</option>
        <option value="C++">C++</option>
      </select>
      
      <label for="isPAD" id="labelToPAD" class="gap-2 text-lg items-center hidden">
        <input type="checkbox" class="size-4 " disabled name="isPAD" id="isPAD" > Pregunta Rapida 
      </label>
    </div>

    <textarea
      required
      disabled
      id="codigo"
      name="codigo"
      maxlength="300"
      class="hidden w-full text-xl border border-light-terciario dark:border-dark-terciario rounded-md p-2 bg-transparent resize-none overflow-hidden  dark:text-white placeholder-neutral-500 focus:outline-none"
      placeholder=`Copia tu fragmento de código aquí  \n Ejemplo: \n const sum = (a,b) = return a+b` 
    ></textarea>
      
    <InputFile />

    <div class="flex justify-between mt-3 p-2">
      <div class="flex gap-4 items-center justify-center">
        <div id="btnCode" class="dark:bg-dark-terciario  opacity-50 hover:opacity-100 transition  bg-light-secundario  rounded-sm p-2 cursor-pointer">{signos}</div>
        <div id="btnMedia" class="dark:bg-dark-terciario opacity-50 hover:opacity-100 transition  hidden bg-light-secundario rounded-sm p-2 cursor-pointer"><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-photo-scan"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 8h.01" /><path d="M6 13l2.644 -2.644a1.21 1.21 0 0 1 1.712 0l3.644 3.644" /><path d="M13 13l1.644 -1.644a1.21 1.21 0 0 1 1.712 0l1.644 1.644" /><path d="M4 8v-2a2 2 0 0 1 2 -2h2" /><path d="M4 16v2a2 2 0 0 0 2 2h2" /><path d="M16 4h2a2 2 0 0 1 2 2v2" /><path d="M16 20h2a2 2 0 0 0 2 -2v-2" /></svg></div>
      </div>
      <button type="submit"
        class="bg-sky-500 hover:bg-sky-700 transition-colors px-4 py-2 rounded-lg cursor-pointer"
        >Publicar
      </button>
    </div>
  </form>
</fieldset>


<script >
  const textareas = document.querySelectorAll('textarea');

  textareas.forEach(textarea => {
    textarea.addEventListener("input", () => {
      textarea.style.height = "auto";
      textarea.style.height = textarea.scrollHeight + "px";
    });

    // Ajuste inicial
    textarea.style.height = "auto";
    textarea.style.height = textarea.scrollHeight + "px";
  });

  /* Administrar los Atributos para Evitar Tabs */
  const textAreaCode = document.getElementById('codigo')
  const selecLenguaje = document.getElementById('lenguajes')
  const checkPad = document.getElementById('isPAD')
  const labelPAd = document.getElementById('labelToPAD')
  const btnToCode = document.getElementById('btnCode')
  const btnToMedia = document.getElementById('btnMedia')
  const mensajeTextArea = document.getElementById('mensaje')
  const media = document.querySelector('.custon')
  media.disabled = true 

  btnToCode?.addEventListener('click', () => {
    btnToMedia?.classList.remove('hidden')
    if (textAreaCode) {
      textAreaCode.classList.remove('hidden');
      textAreaCode.style.height = "150px";
      textAreaCode.removeAttribute('disabled');
    }

    (mensajeTextArea as HTMLTextAreaElement).placeholder = "Descripción de tu Código"

    selecLenguaje?.classList.remove('hidden')
    selecLenguaje?.removeAttribute('disabled')
    selecLenguaje?.setAttribute('required', 'true' )

    labelPAd?.classList.remove('hidden')
    checkPad?.removeAttribute('disabled')

    media?.classList.add('hidden')
    btnToCode.classList.add('hidden')
  })

  btnToMedia?.addEventListener('click', ()=>{
    (mensajeTextArea as HTMLTextAreaElement).placeholder = "¿En qué piensas hoy?" 
    
    btnToCode?.classList.remove('hidden')
    textAreaCode?.setAttribute('disabled', 'true')
    textAreaCode?.classList.add('hidden')

    selecLenguaje?.setAttribute('disabled', 'true')
    selecLenguaje?.setAttribute('required', 'false' )
    selecLenguaje?.classList.add('hidden')

    checkPad?.setAttribute('disabled', 'true')
    labelPAd?.classList.add('hidden')

    
    media?.classList.remove('hidden')
    btnToMedia.classList.add('hidden') 
  })
  /* const show = el => el?.classList.remove('hidden') || el?.removeAttribute('disabled');
  const hide = el => el?.classList.add('hidden') || el?.setAttribute('disabled', 'true');

  btnToCode?.addEventListener('click', () => {
    show(textAreaCode);
    if (textAreaCode) textAreaCode.style.height = "150px";

    if (mensajeTextArea) mensajeTextArea.placeholder = "Descripción de tu Código";

    show(selecLenguaje);
    show(labelPAd);
    show(checkPad);
    hide(media);
  });

  btnToMedia?.addEventListener('click', () => {
    if (mensajeTextArea) mensajeTextArea.placeholder = "¿En qué piensas hoy?";

    hide(textAreaCode);
    hide(selecLenguaje);
    hide(labelPAd);
    hide(checkPad);
    show(media);
  }); */
</script>

<!-- <script>
  const formulario = document.getElementById("formPost")
  formulario?.addEventListener('submit', async (event) => {
    event.preventDefault();
    
    const msg = (document.getElementById('mensaje') as HTMLTextAreaElement).value
    const checkbox = (document.getElementById('isPAD') as HTMLInputElement).checked
    const media = (document.getElementsByName('multimedia') )
    const inputMedia = (media[0] as HTMLInputElement)
    
    console.log('data:', msg)
    console.log('check:', checkbox)
    console.log('media', inputMedia)
  })
</script>  -->