---

---
<section class="p-4 w-full border border-sky-950 rounded-lg">
  <h3>Nueva Publicacion:</h3>
  <form id="formPost" class="w-full mt-3">
    
    <!-- <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your message</label> -->
    <textarea id="message" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Share a ideas or Ask a question..."></textarea>
    <div class="flex justify-between mt-3">
      <button class="bg-sky-800 hover:bg-sky-700 transition-colors px-4 py-2 rounded-lg cursor-pointer">+ PAD</button>
      <button class="bg-sky-800 hover:bg-sky-700 transition-colors px-4 py-2 rounded-lg cursor-pointer">Publicar</button>
    </div>
  </form>

</section>

<script>
  document.getElementById("formPost")?.addEventListener("submit", function (e) {
    e.preventDefault();
    alert('hola')
  })
</script>