---
import { publicaciones } from '../conts/publicaciones';
import {  codeToHtml } from 'shiki';
---

<div>
</div>
<section class="">
  {await Promise.all(
    publicaciones.map(async (publicacion) => {
      /* const highlighter = await createHighlighter({ themes: ['andromeeda'], langs: [`${publicacion.lenguaje}`] }); */ //no recomendado en bucles
      const highlightedCode = await codeToHtml(publicacion.codigo, { lang: publicacion.lenguaje, theme: 'aurora-x'});

      return (

        <a href="">
          <div class="my-2 p-4 bg-gray-900/90 border border-white/30 rounded-lg ">
            <div>
              
              <p>{publicacion.contenido}</p>
            </div>
            <div class="bg-zinc-950 border border-white/30 rounded-lg p-4" set:html={highlightedCode} ></div>
          </div>
        </a>
      );
    })
  )}
</section>

