---
import { publicaciones } from '../conts/publicaciones';
import {  codeToHtml } from 'shiki';
---

<div>
</div>
<section class="">
  {await Promise.all(
    publicaciones.map(async (publicacion) => {
      /* const highlighter = await createHighlighter({ themes: ['andromeeda'], langs: [`${publicacion.lenguaje}`] }); */ //no recomendado en bucles
      const highlightedCode = await codeToHtml(publicacion.codigo, { lang: publicacion.lenguaje, themes: {light: 'light-plus', dark: 'dark-plus'}});

      return (
        <article class="my-2 p-4 bg-secundario border border-light-secundario dark:border-dark-terciario rounded-lg hover:bg-gray-800/90 transition-colors">
          <div>
            <div class="flex justify-between items-center ">
              <div class="flex gap-2 items-center">
                <img src="/images/img1.webp" class="object-cover size-10 rounded-full" alt=""/>
                <a href="/perfil" class="font-bold text-xl cursor-pointer hover:text-sky-500 transition-colors">{publicacion.autor}</a>
              </div>
              <span class="opacity-50">29/08/2024</span>
            </div>
            <p class="my-3">{publicacion.contenido}</p>
          </div>
          <div class="dark:bg-[#1e1e1e] border border-light-secundario dark:border-dark-terciario rounded-lg p-4" set:html={highlightedCode} ></div>
          {/* social media */}
          <div class="mt-3 flex justify-around">
            <div class="flex items-center gap-2">
              <button class="cursor-pointer">
                <svg class="size-6 stroke-2 stroke-red-500 fill-transparent">
                  <use href="/icons/SocialSprite.svg#heart"/>
                </svg>
              </button>
              <span>125</span>
            </div>

            <div class="flex items-center gap-2">
              <button class="cursor-pointer">
                <svg class="size-6 stroke-2 fill-transparent stroke-blue-500">
                  <use href="/icons/SocialSprite.svg#message"/>
                </svg>
              </button>
              <span>12</span>
            </div>

            <div class="flex items-center">
              <button class="cursor-pointer">
                <svg class="size-6 stroke-2 stroke-green-500 fill-transparent">
                  <use href="/icons/SocialSprite.svg#share"/>
                </svg>
              </button>
              
            </div>
          </div>
        </article>     
      );
    })
  )}
</section>

<style>
  
</style>