---
import { supabase } from '../lib/supabaseClient';
import PublicacionCard from './publicaciones/PublicacionCard.astro';

const { data:  publicacionesBd , error } = await supabase
  .from('posts')
  .select('*, usuarios(full_name,image_url)') 
  
if (error) {
  console.log('Error al obtener publicaciones:', error.message)
}
---
<section class="">
  {publicacionesBd && await Promise.all(
    publicacionesBd.map(async (publicacion) => {
      return <PublicacionCard publicacion={publicacion} />
    }
    ) 
  )}
</section>