---

---
<header class="w-full h-15 bg-transparent backdrop-blur-md  sticky top-0 flex items-center justify-between p-2 border-b-1">
  <h1 class="text-white">Hackaton Clerk</h1>
  <ul class="text-white flex gap-4">
    <li>Home</li>
    <li>Search</li>
    <li>About</li>
  </ul>
</header>