---
import Post from "../components/Post.astro";
import Publicaciones from "../components/Publicaciones.astro";
---

<section class=" w-full p-2 ">
  <Post/>
  <h3 class="mt-5 font-bold">Publicaciones</h3>
  <Publicaciones />
</section>