---
import { usuarios } from "../conts/usuarios"
---
<aside class="mt-5 p-4">
  <h3 class="text-zinc-400 font-bold  ">Usuarios Recomendados</h3>
  {
    usuarios.map((usuario) => (
      <div class="card mt-4 p-4 border rounded shadow-sm">
      <h4 class="text-lg font-bold">{usuario.nombre}</h4>
      <p class="text-sm text-zinc-500">{usuario.username}</p>
      <img src={`${usuario.avatar}`} alt=""/>
      </div>
    ))
  }
</aside>