---
import { usuarios } from "../conts/usuarios"
---
<aside class="mt-5 p-4 sticky top-20 w-full border rounded-md border-light-terciario dark:border-dark-terciario">
  <h3 class="text-zinc-400 font-bold text-xl ">Usuarios Recomendados</h3>
  {
    usuarios.map((usuario) => (
      <a href="/">
        <div class="flex flex-row border border-light-terciario dark:border-dark-terciario rounded-md my-3 overflow-hidden h-28 w-full items-center justify-center gap-6 bg-light-primario dark:bg-dark-secundario transition-colors">
          <div class="w-1/4">
            <img src={`${usuario.avatar}`} class="object-cover rounded-sm" alt={`Imagen de ${usuario.nombre}`}/>
          </div>
          <div class="w-2/4">
            <h4 class="text-lg font-bold">{usuario.nombre}</h4>
            <p class="text-sm text-zinc-500">{usuario.username}</p>
          </div>
        </div>
      </a>
    ))
  }
</aside>