---
import "../Global.css";
import Header from "../sections/Header.astro";
import { SignedIn } from "@clerk/astro/components"
---
<html lang="es" class="dark">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Hackaton Clerk</title>
    <!-- Favicon -->
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Codeverse" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    
    <!-- Setter Theme -->
    <script is:inline src="/src/lib/theme-setter.js"></script>
    <!-- Link rel de Toggle -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/theme-toggles@4.10.1/css/expand.min.css">

    <!-- Links rel de Filepond -->
    <link href="https://unpkg.com/filepond@^4/dist/filepond.min.css" rel="stylesheet" />

    <!-- FilePond + plugin de previsualización y validación de tipo -->
    <script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
    <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script src="https://unpkg.com/filepond@^4/dist/filepond.min.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.js"></script>
    <script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.min.js"></script>
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css" rel="stylesheet" />

	</head>
	<body class="bg-light-secundario dark:bg-dark-primario text-black dark:text-white font-outfit transition-colors">
    <SignedIn>
        <Header/>
    </SignedIn>
    <main class="max-w-6xl mx-auto">
      <slot>
    </main>
	</body>
</html>

<style>
  html,body {
    margin: 0;
    padding: 0;
  }
</style>