---
import LeftAside from "../sections/LeftAside.astro";
import RighAside from "../sections/RighAside.astro";


---
<div class="grid grid-cols-1 md:grid-cols-4 transition-colors gap-4">
    <div class="col-span-1 hidden md:block">
      <LeftAside/>
    </div>
    <div class="col-span-2">
      <slot/>
    </div>
    <div class="col-span-1 hidden md:block">
      <RighAside/>
    </div>
  </div>