---
import "../Global.css";
import Footer from "../sections/Footer.astro";
import Header from "../sections/Header.astro";
---
<html lang="es" class="dark">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Hackaton Clerk</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/theme-toggles@4.10.1/css/expand.min.css">
	</head>
	<body class="bg-light-secundario dark:bg-dark-primario text-black dark:text-white">
    <Header/>
    <main class="max-w-6xl mx-auto">
      <slot>
    </main>
    <Footer/>
	</body>
</html>

<style>
  html,body {
    margin: 0;
    padding: 0;
  }
</style>